/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

li {
  list-style: none;
}

/* Header y banner */
.section-header {
  background-image: url("../img/portada.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section-header header {
  backdrop-filter: grayscale(100%) blur(1px) brightness(90%);
}
.section-header header h1 {
  font-size: 1.8rem;
}
.section-header .titulo {
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  margin-left: 2rem;
}
.section-header .div-nav a {
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.7px;
  transition: all 0.5s;
}
.section-header .div-nav a:hover {
  letter-spacing: 1.3px;
}
.section-header .div-banner {
  backdrop-filter: grayscale(100%);
  padding: 1rem;
  position: absolute;
  color: #fff;
  font-family: "Bebas Neue";
}

/* Footer */
footer {
  background-color: #000;
}
footer .footer-div {
  color: #fff;
  font-family: "Raleway";
}
footer .footer-div a {
  color: #fff;
  font-family: 1.3rem;
  transition: 0.4s;
}
footer .footer-div a:hover {
  color: #50ddaa;
}
footer .footer-div h3 {
  font-family: "Bebas Neue";
  transition: 0.4s;
}
footer .footer-div h3:hover {
  color: #50ddaa;
}
footer .footer-div h4 {
  font-size: 1.2rem;
}
footer .rights {
  background-color: #000;
  text-align: center;
  border-top: 1.8px solid #50ddaa;
  width: 40vw;
  margin: 0 auto;
}
footer .rights h4 {
  padding: 1rem;
  color: #fff;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 300;
  display: inline;
}
footer .autor {
  background-color: #30bbaa;
  color: #000;
}
footer .autor a {
  color: #000;
  transition: 0.5s;
}
footer .autor a:hover {
  color: #fff;
}

/* Sections */
.section-container {
  min-height: 50vh;
}
.section-container h2 {
  font-family: "Poppins";
  font-size: 2rem;
  text-align: start;
}
.section-container p {
  font-family: "Raleway";
  text-align: justify;
}

.space-background {
  height: 50vh;
  background-image: url("../img/fondo.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.space-background-2 {
  height: 70vh;
  background-image: url("../img/fondo2.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .div-banner {
    bottom: 10vh;
    left: 5vw;
    font-size: 4rem;
  }
  .div-banner span {
    font-size: 8rem;
  }

  .section-container div {
    padding: 7rem 11rem;
  }
  .section-container p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }
}
@media screen and (max-width: 992px) {
  .div-banner {
    bottom: 10vh;
    left: 5vw;
    font-size: 4rem;
  }
  .div-banner span {
    font-size: 8rem;
  }

  .section-container div {
    padding: 6rem 8rem;
  }
  .section-container p {
    font-size: 1.2rem;
    line-height: 2.3rem;
  }

  footer .rights {
    width: 70vw;
  }
}
@media screen and (max-width: 768px) {
  .div-banner {
    bottom: 10vh;
    left: 5vw;
    font-size: 3.5rem;
  }
  .div-banner span {
    font-size: 7rem;
  }

  .section-container div {
    padding: 3rem 5rem;
  }
  .section-container p {
    font-size: 1.1rem;
    line-height: 2.1rem;
  }

  footer .rights {
    width: 90vw;
  }
}
@media screen and (max-width: 576px) {
  .div-banner {
    bottom: 8vh;
    left: 4vw;
    font-size: 2.5rem;
  }
  .div-banner span {
    font-size: 5rem;
  }

  .section-container div {
    padding: 4rem 2.5rem;
  }
  .section-container p {
    font-size: 1.1rem;
  }
}
/* Header Coaching */
.section-header-coaching {
  background-image: url("../../img/portada2.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section-header-coaching header {
  backdrop-filter: grayscale(100%) blur(1px);
}
.section-header-coaching header h1 {
  font-size: 1.8rem;
}
.section-header-coaching .titulo {
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  margin-left: 2rem;
}
.section-header-coaching .div-nav a {
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.7px;
  transition: all 0.5s;
}
.section-header-coaching .div-nav a:hover {
  letter-spacing: 1.3px;
}
.section-header-coaching .div-banner {
  backdrop-filter: grayscale(100%);
  padding: 1rem;
  position: absolute;
  color: #fff;
  font-family: "Bebas Neue";
}

/* Section cards */
.section-container-coaching {
  padding: 2.5rem;
  min-height: 100vh;
}
.section-container-coaching .micard {
  background-image: url("../../img/card.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 2rem;
}
.section-container-coaching .micard div {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.section-container-coaching .micard div h2 {
  font-family: "Bebas Neue";
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  position: relative;
  top: 40%;
}
.section-container-coaching .micard div .detail {
  display: block;
  font-family: "Bebas Neue";
  font-size: 2rem;
  letter-spacing: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 70%;
  transition: 0.5s;
}
.section-container-coaching .micard div .detail:hover {
  color: #50ddaa;
}
.section-container-coaching .micard div:hover {
  backdrop-filter: grayscale(100%) blur(1px) brightness(50%);
}

/* Section detail */
#detallePlanes {
  margin: 5rem auto;
  width: 50vw;
  border-top: 3px solid #50ddaa;
}
#detallePlanes h3 {
  margin: 2rem 0;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 3rem;
}
#detallePlanes p {
  font-family: "Raleway" "Poppins";
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
}
#detallePlanes .items {
  text-align: center;
  margin: 4rem 0;
}
#detallePlanes .items p {
  display: inline;
}
#detallePlanes .items span {
  margin: 0 2rem;
  border: 1px solid #50ddaa;
}
#detallePlanes .button {
  display: block;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 2px;
  background-color: #50ddaa;
  color: #000;
  transition: 0.6s;
}
#detallePlanes .button:hover {
  background-color: #000;
  color: #50ddaa;
}

/* Media Queries */
@media screen and (min-width: 1200px) {
  .section-container-coaching .micard {
    width: 40vw;
    height: 35rem;
  }
}
@media screen and (max-width: 1200px) {
  .section-container-coaching {
    padding: 1rem;
  }
  .section-container-coaching .micard {
    width: 40vw;
    height: 25rem;
    margin: 1.5rem;
  }
  .section-container-coaching .micard div h2 {
    font-size: 3rem;
  }
  .section-container-coaching .micard div .detail {
    font-size: 1.5rem;
  }

  #detallePlanes {
    width: 80vw;
  }
}
@media screen and (max-width: 992px) {
  .section-container-coaching {
    padding: 1.5rem;
  }
  .section-container-coaching .micard {
    width: 90vw;
    height: 40rem;
  }
}
@media screen and (max-width: 768px) {
  .section-container-coaching {
    padding: 1rem;
  }
  .section-container-coaching .micard {
    width: 90vw;
    height: 30rem;
  }
}
@media screen and (max-width: 576px) {
  .section-container-coaching {
    padding: 0.5rem;
  }
  .section-container-coaching .micard {
    width: 90vw;
    height: 30rem;
    margin: 1rem 0;
  }

  #detallePlanes {
    margin: 5rem o;
  }
  #detallePlanes .items {
    margin: 3rem auto;
    width: 40%;
  }
  #detallePlanes .items p {
    display: block;
    text-align: center;
    /* text-decoration:underline #50ddaa; */
    border-bottom: 2px solid #50ddaa;
  }
  #detallePlanes .items span {
    width: 10px;
    border: 1px solid #50ddaa;
    visibility: hidden;
  }
}
/* Header Coaching */
.section-header-contact {
  background-image: url("../../img/portada3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.section-header-contact header {
  backdrop-filter: grayscale(100%) blur(1px) brightness(85%);
}
.section-header-contact header h1 {
  font-size: 1.8rem;
}
.section-header-contact .titulo {
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  margin-left: 2rem;
}
.section-header-contact .div-nav a {
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.7px;
  transition: all 0.5s;
}
.section-header-contact .div-nav a:hover {
  letter-spacing: 1.3px;
}
.section-header-contact .div-banner {
  backdrop-filter: grayscale(100%) brightness(85%);
  padding: 1rem;
  position: absolute;
  color: #fff;
  font-family: "Bebas Neue";
}

/* Formulario */
.textarea {
  min-height: 0rem;
  resize: none;
}

.form-envio {
  margin: 2rem auto;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 50rem;
  border-radius: 5px;
}

.form-div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 2rem;
}

.form-label {
  color: grey;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.form-input {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid gray;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  resize: none;
}
.form-input:focus, .form-input:valid {
  outline: 0;
  border-bottom-color: #45ddaa;
}
.form-input:focus + .form-label, .form-input:valid + .form-label {
  color: #45ddaa;
  transform: translateY(-1.5rem);
}

.form-condiciones {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #8597a3;
}
.form-condiciones a {
  display: block;
  color: #45ddaa;
  text-decoration: none;
  transition: 1s;
}
.form-condiciones a:hover {
  color: black;
}

.form-button {
  margin-top: 2rem;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #45ddaa;
  border-radius: 2px;
  color: #474d52;
  border: 0;
  transition: 0.4s;
}
.form-button:hover {
  background-color: #45ddaa;
}
.form-button:active {
  background-color: #60ddaa;
}

/*# sourceMappingURL=style.css.map */
