/* Header Coaching */
.section-header-coaching {
    background-image: url('../../img/portada2.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

    header {
        backdrop-filter: grayscale(100%) blur(1px);
        h1{
            font-size: 1.8rem;
        }
    }

    .titulo {
        font-family: 'Bebas Neue';
        font-size: 1.6rem;
        margin-left: 2rem;
    }

    .div-nav {
        a {
            font-family: 'Bebas Neue';
            font-size: 1.2rem;
            color: #fff;
            letter-spacing: .7px;
            transition: all .5s;

            &:hover {
                letter-spacing: 1.3px;
            }
        }
    }

    .div-banner {
        backdrop-filter: grayscale(100%);
        padding: 1rem;
        position: absolute;
        color: #fff;
        font-family: 'Bebas Neue';
    }
}

/* Section cards */
.section-container-coaching {
    padding: 2.5rem;
    min-height: 100vh;

    .micard {
        background-image: url('../../img/card.jpg');
        background-size: cover;
        background-position: center;
        color: #fff;
        margin: 2rem;

        div {
            position: relative;
            width: 100%;
            height: 100%;
            transition: .5s;

            h2 {
                font-family: 'Bebas Neue';
                font-size: 3.5rem;
                font-weight: 300;
                letter-spacing: 10px;
                text-align: center;
                position: relative;
                top: 40%;
            }

            .detail {
                display: block;

                font-family: 'Bebas Neue';
                font-size: 2rem;
                letter-spacing: 10px;
                color: #fff;
                text-align: center;
                position: relative;
                top: 70%;
                transition: .5s;

                &:hover {
                    color: #50ddaa;
                }
            }

            &:hover {
                backdrop-filter: grayscale(100%) blur(1px) brightness(50%);
            }
        }
    }
}

/* Section detail */

#detallePlanes {
    margin: 5rem auto;
    width: 50vw;
    border-top: 3px solid #50ddaa;

    h3 {
        margin: 2rem 0;
        text-align: center;
        font-family: 'Bebas Neue';
        font-size: 3rem;
    }

    p {
        font-family: 'Raleway''Poppins';
        font-size: 1.2rem;
        font-weight: 400;
        text-align: justify;
    }

    .items {
        text-align: center;
        margin: 4rem 0;

        p {
            display: inline;
        }

        span {
            margin: 0 2rem;
            border: 1px solid #50ddaa;
        }
    }

    .button {
        display: block;
        text-align: center;
        font-family: 'Bebas Neue';
        font-size: 1.5rem;
        letter-spacing: 2px;
        padding: .5rem;
        margin: 2rem 0;
        border-radius: 2px;
        background-color: #50ddaa;
        color: #000;

        transition: .6s;

        &:hover {
            background-color: #000;
            color: #50ddaa;

        }
    }
}

/* Media Queries */

@media screen and (min-width: 1200px) {
    .section-container-coaching {
        .micard {
            width: 40vw;
            height: 35rem;
        }
    }

}

@media screen and (max-width: 1200px) {
    .section-container-coaching {
        padding: 1rem;

        .micard {
            width: 40vw;
            height: 25rem;
            margin: 1.5rem;

            div {
                h2 {
                    font-size: 3rem;
                }

                .detail {
                    font-size: 1.5rem;
                }
            }
        }
    }

    #detallePlanes {
        width: 80vw;
    }
}

@media screen and (max-width: 992px) {
    .section-container-coaching {
        padding: 1.5rem;

        .micard {
            width: 90vw;
            height: 40rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-container-coaching {
        padding: 1rem;

        .micard {
            width: 90vw;
            height: 30rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .section-container-coaching {
        padding: .5rem;

        .micard {
            width: 90vw;
            height: 30rem;
            margin: 1rem 0;
        }
    }

    #detallePlanes {
        margin: 5rem o;

        .items {
            margin: 3rem auto;
            width: 40%;

            p {
                display: block;
                text-align: center;
                /* text-decoration:underline #50ddaa; */
                border-bottom: 2px solid #50ddaa;
            }

            span {
                width: 10px;
                border: 1px solid #50ddaa;
                visibility: hidden;
            }
        }
    }
}