@import '../base/colors';

/* Header Coaching */
.section-header-contact {
	background-image: url('../../img/portada3.webp');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;

	header {
		backdrop-filter: grayscale(100%) blur(1px) brightness(85%);

		h1 {
			font-size: 1.8rem;
		}
	}

	.titulo {
		font-family: 'Bebas Neue';
		font-size: 1.6rem;
		margin-left: 2rem;
	}

	.div-nav {
		a {
			font-family: 'Bebas Neue';
			font-size: 1.2rem;
			color: $white;
			letter-spacing: .7px;
			transition: all .5s;

			&:hover {
				letter-spacing: 1.4px;
				color: $lightgreen;
			}
		}
	}

	.div-banner {
		backdrop-filter: grayscale(100%) brightness(85%);
		padding: 1rem;
		position: absolute;
		color: $white;
		font-family: 'Bebas Neue';
	}
}

/* Formulario */
.form-envio {
	margin: 2rem auto;
	padding: 2rem 1rem;
	width: 100%;
	max-width: 50rem;
	border-radius: 5px;

	h2 {
		font-family: 'Bebas Neue';
		font-size: 3rem;
	}
}

.form-div {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 1.5rem;
	margin-top: 2rem;
}

.form-label {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.1rem;
	color: #555;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.form-input {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid $lightblue;
	font-size: 1.125rem;
	padding: .25rem 0;

	&:focus,
	&:valid {
		outline: 0;
		border-bottom-color: $lightblue;

		&+.form-label {
			color: $lightblue;
			transform: translateY(-1.5rem)
		}
	}
}

.textarea {
	min-height: 7rem;
	resize: none;
}

.select {
	border: 2px solid $lightblue;
	border-radius: 2px;
	padding: .5rem;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 1.1rem;
	color: #333;
}


.form-condiciones {
	padding: 1.5rem 1rem;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: .9rem;
	text-align: center;
	color: $black;
}

.form-button {
	font-family: 'Bebas Neue';
	font-size: 1.5rem;
	letter-spacing: 2px;
	color: $black;
	margin-top: 2rem;
	padding: 1rem;
	width: 100%;
	background-color: $lightblue;
	border-radius: 2px;
	border: 0;
	transition: .5s;

	&:hover {
		background-color: $black;
		color: $lightgreen;
	}
}