/* Header Coaching */
.section-header-contact {
    background-image: url('../../img/portada3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

    header {
        backdrop-filter: grayscale(100%) blur(1px) brightness(85%);
        h1{
            font-size: 1.8rem;
        }
    }

    .titulo {
        font-family: 'Bebas Neue';
        font-size: 1.6rem;
        margin-left: 2rem;
    }

    .div-nav {
        a {
            font-family: 'Bebas Neue';
            font-size: 1.2rem;
            color: #fff;
            letter-spacing: .7px;
            transition: all .5s;

            &:hover {
                letter-spacing: 1.3px;
            }
        }
    }

    .div-banner {
        backdrop-filter: grayscale(100%) brightness(85%);
        padding: 1rem;
        position: absolute;
        color: #fff;
        font-family: 'Bebas Neue';
    }
}

/* Formulario */
.section-form {
	background-color: #f0f0f0;
	box-shadow: 0 0px 20px 0 rgba(#999, .25);
	padding-bottom: 1rem;
}

.carrousel-sorpresa {
	margin-top: 3rem;

	div {
		div {
			img {
				border-radius: 3px;
			}
		}
	}
}

.textarea {
	min-height: 8rem;
	resize: none;
}

.form-envio {
	margin: 1rem auto;
	padding: 2rem 1rem;
	width: 100%;
	max-width: 40rem;
	border-radius: 5px;
}

.form-div {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 1.5rem;
	margin-top: 1.5rem;
}

.form-label {
	color: grey;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.form-input {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid gray;
	font-size: 1.125rem;
	padding: .25rem 0;

	&:focus,
	&:valid {
		outline: 0;
		border-bottom-color: #45ddaa;

		&+.form-label {
			color: #45ddaa;
			transform: translateY(-1.5rem)
		}
	}
}

.form-condiciones {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;

	a {
		display: block;
		color: #45ddaa;
		text-decoration: none;
		transition: 1s;

		&:hover {
			color: black;
		}
	}
}

.form-button {
	margin-top: 2rem;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #45ddaa;
	border-radius: 6px;
	color: #474d52;
	border: 0;
	transition: .4s;

	&:hover {
		background-color: #45ddaa;
	}
	&:active {
		background-color: #60ddaa;
	}
}