/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;

    &:hover {
        color: #000;
    }
}

li {
    list-style: none;
}

/* Header y banner */
.section-header {
    background-image: url("../img/portada.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

    header {
        backdrop-filter: grayscale(100%) blur(1px) brightness(90%);
    }

    .titulo {
        font-family: 'Bebas Neue';
        font-size: 1.6rem;
        margin-left: 2rem;
    }

    .div-nav {
        a {
            font-family: 'Bebas Neue';
            font-size: 1.2rem;
            color: #fff;
            letter-spacing: .7px;
            transition: all .5s;

            &:hover {
                letter-spacing: 1.3px;
            }
        }
    }

    .div-banner {
        backdrop-filter: grayscale(100%);
        padding: 1rem;
        position: absolute;
        color: #fff;
        font-family: 'Bebas Neue';
    }
}

/* Footer */
footer {
    .footer-div {
        background-color: #000;
        color: #fff;

        a {
            color: #fff;
            font-family: 'Raleway';
            font-family: 1.3rem;
            transition: .4s;

            &:hover {
                color: #50ddaa;
            }
        }

        h3 {
            font-family: 'Bebas Neue';
            transition: .4s;

            &:hover {
                color: #50ddaa;
            }
        }

        h4 {
            font-family: 1.3rem;
            font-family: 'Raleway';
        }
    }

    .rights {
        background-color: #000;
        text-align: center;

        h4 {
            border-top: 1.8px solid #50ddaa;
            padding: 1rem;
            color: #fff;
            font-family: 'Raleway';
            font-size: 1rem;
            font-weight: 300;
            display: inline;
        }

    }

    .autor {
        background-color: #20aa99;
        color: #000;

        /* width: 100%; */
        a {
            color: #000;
            transition: .5s;

            &:hover {
                color: #fff;
            }
        }
    }
}

/* Sections */
.section-container {
    min-height: 50vh;

    h2 {
        font-family: 'Poppins';
        font-size: 2rem;
        text-align: start;
    }

    p {
        font-family: 'Raleway';
        text-align: justify;
    }
}

.space-background {
    height: 50vh;
    background-image: url("../img/fondo.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.space-background-2 {
    height: 50vh;
    background-image: url("../img/fondo2.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


/* Media Queries */

@media screen and (min-width: 992px) {
    .div-banner {
        bottom: 10vh;
        left: 5vw;
        font-size: 4rem;

        span {
            font-size: 8rem;
        }
    }

    .section-container {
        div {
            padding: 7rem 11rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 2.3rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .div-banner {
        bottom: 10vh;
        left: 5vw;
        font-size: 4rem;

        span {
            font-size: 8rem;
        }
    }

    .section-container {
        div {
            padding: 6rem 8rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 2.3rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .div-banner {
        bottom: 10vh;
        left: 5vw;
        font-size: 3.5rem;

        span {
            font-size: 7rem;
        }
    }

    .section-container {
        div {
            padding: 3rem 5rem;
        }

        p {
            font-size: 1.1rem;
            line-height: 2.1rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .div-banner {
        bottom: 8vh;
        left: 4vw;
        font-size: 2.5rem;

        span {
            font-size: 5rem;
        }
    }

    .section-container {
        div {
            padding: 4rem 2.5rem;
        }

        p {
            font-size: 1.1rem;
        }
    }
}