@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.section0 {
    background-image: url("../img/portada.jpg");
    background-attachment: fixed;
    background-size:cover;
    width: auto;
    height: 100vh;
    .titulo {
        font-family: 'Bebas Neue';
        font-size: 1.6rem;
    }
    .div-header {
        display: flex;
        .div-nav {
            justify-content: space-around;
            /* ul {
                li { 
                    padding: 1rem;
                }
            } */
        }
    }
    .div{
        position: absolute;
        bottom: 7rem;
        left: 4rem;
        color: #fff;
        font-family: 'Bebas Neue';
        font-size: 4rem;
        span {
            font-size: 8rem;
        }
    }
}

.section1{ 
    height: 50vh;
    padding: 5rem 20rem;
    h2 { 
        font-family: 'Poppins';
    }
    p {
        font-family: 'Raleway';
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.section2 { 
    height: 50vh;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section3 {
    height: 50vh;
    padding: 5rem 20rem
}

.section4 { 
    height: 50vh;
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}